<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    {%load static%}

    {%include 'navbar2.html'%}
    <br>
    <br>
    <h5 style="text-align: center; color: darkred;"><b> Enter the Details</b></h5>
    <form action="{%url 'result'%}" id="sam" onclick="color()" style="border-radius: 10%; margin-top: 2%;">
        <div class="shadow-sm p-3 mb-5 bg-body rounded">
        <h5>URL</h5>
        <input  type="text" name="url" id="red" required> 
        <br>
        <br>
        <h5>Number of directory characters</h5>
        <input type="text" name="directory_length" id="blue" required>
        <br>
        <br>
        <h5>ASN</h5>
        <input type="text" name="asn" required>
        <br>
        <br>
        <h5>Domain activation time (in days)</h5>
        <input type="text" name="time_domain_activation" required>
        <br>
        <br>
        <h5>Time-To-Live (TTL)</h5>
        <input type="text" name="ttl_hostname"  required>

        <br>
        <br>

        <input type="submit">
    </div>
    </form>

</body>
</html>